/**
 * UMD Frame Rule
 */

/**
 * Site-wide styles
 */
body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  background: url(../img/gray-shell.png) left 200px no-repeat, url(../img/crossword.png);
}

a img { border: none; }

.full {
  max-width: 100%;
}

/**
 * Header container styles
 */
#umd-header {
  padding: 16px 0;
  background-color: #850000;
}

#umd-header #umd-logo img {
  max-width: 100%;
  max-height: 100%;
}

#container-header {
  background-color: #fff;
}

#container-body {
	background-color: #fff;	
}

#container-footer {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#container-footer .footer-module {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

#container-footer .footer-module p {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}